<div class="workspace-layout">
  <header class="top-header">
    <div class="logo">Backbone Judge</div>
    <nav class="top-nav">
      <span>Problems</span>
    </nav>
  </header>

  <div class="workspace-toolbar">
    <app-challenge-tabs (ontabclicker)="tabChanges($event)" [tabActive]="tabActive()">
    </app-challenge-tabs>
    <div class="language-tab">
      <span>JavaScript</span>
    </div>
    @if (authFacade.user(); as user) {
      <span>{{ user.displayName }}</span>

      <button type="button" (click)="logout()">Cerrar sesion</button>
    }
  </div>

  <main class="workspace-main">
    @if (tabActive() === 'Description') {
      <section class="workspace-panel workspace-problem">
        <app-problem-content></app-problem-content>
      </section>
    } @else if (tabActive() === 'Submissions') {
      <section class="workspace-panel workspace-problem"></section>
    } @else if (tabActive() === 'Hints') {
      <section class="workspace-panel workspace-problem"></section>
    }

    <section class="workspace-panel workspace-editor">
      <div class="editor-content">
        <app-code-editor
          [code]="challengeWorkspaceState.code()"
          [language]="challengeWorkspaceState.selectedLanguage()"
          (codeChange)="challengeWorkspaceState.updateCode($event)"
        ></app-code-editor>
      </div>
    </section>
  </main>

  <footer class="workspace-footer">
    <button class="btn" type="button">Run Code</button>
    <button class="btn btn-primary" type="button">Submit</button>
  </footer>
</div>
