.problem-content p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #d4d4d4;
  font-size: 1.1rem;
}

:host ::ng-deep .problem-content p strong {
  color: #FAC738;
  background-color: #2b2b2b;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  padding: 1px 5px;
}
